﻿@model List<AplicacaoTeste.Dados.Entidades.Aluno>

<div class="row">

    <div class="col-md-12">
        <div class="pv-30 ph-20 white-bg feature-box bordered">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Matricula
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Data de nascimento
                        </th>
                        <th>
                            CPF
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var aluno in Model)
                    {
                        <tr>
                            <td>
                                @aluno.IdAluno
                            </td>
                            <td>
                                @aluno.Matricula
                            </td>
                            <td>
                                @aluno.NomeCompleto
                            </td>
                            @*Colocar no formato dd/MM/yyyy*@
                            <td>
                                @aluno.DataDeNascimento
                            </td>
                            <td>
                                @aluno.Cpf
                            </td>
                            <td>
                                <button class="btn btn-default">Alterar</button>
                                <button class="btn btn-danger">Remover</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
