﻿@model AplicacaoTeste.Dados.Entidades.Aluno
@{
    //Layout = null;
}


@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Cadastro de alunos Phidelis</h3>
        </div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.NomeCompleto, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.NomeCompleto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeCompleto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.DataDeNascimento, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DataDeNascimento, new { htmlAttributes = new { @class = "form-control", @type="date" } })
                        @Html.ValidationMessageFor(model => model.DataDeNascimento, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Matricula, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Matricula, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Matricula, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-sm btn-success radius-50 vine"><i class="fa fa-send">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i> SALVAR </button>
        </div>
    </div>


}