﻿
@{
    var mensagemErro = TempData["Error"] != null ? TempData["Error"].ToString() : string.Empty;
    var mensagemSucesso = TempData["Success"] != null ? TempData["Success"].ToString() : string.Empty;
}

<blockquote style="margin-top:10px!important">
    <h3 class="page-title text-uppercase"><i class="glyphicon glyphicon-user"> &nbsp; </i>Alunos da escola</h3>
</blockquote>

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("Cadastrar")" class="btn btn-primary">
            Cadastrar aluno
        </a>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <br />
        @if (!string.IsNullOrEmpty(mensagemErro))
        {
            <div class="alert alert-danger">
                <p>
                    <i class="glyphicon glyphicon-alert">&nbsp;</i> Ops! Ocorreu um erro ao tentar processar a sua solicitação:

                </p>
            </div>
        }

        @if (!string.IsNullOrEmpty(mensagemSucesso))
        {
            <div class="alert alert-success">
                <p>
                    @mensagemSucesso
                </p>
            </div>
        }
    </div>

    <br />
    <div class="col-md-12">
        <div class="pv-30 ph-20 white-bg feature-box bordered">
            @{
                Html.RenderAction("List");
            }
        </div>
    </div>
</div>
