﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Phidelis Tecnologia</h1>
    <p class="lead">Bem vindo ao sistema de avaliação Phidelis.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Vamos começar?</h2>
        <p>
            É permitido utilizar os recursos de internet para realizar pesquisas relacionadas a essa avaliação.
        </p>
        <p>
            Caso ocorra algum problema de hardware, falta de conexão com a internet, ou qualquer outra situação que impeça o prosseguimento do teste, informe imediatamente à equipe de aplicação de prova para que as
            medidas cabíveis possam ser tomadas.
        </p>
        <blockquote>
            <p>
                O tempo de prova é de <strong>2h30</strong>.
            </p>
        </blockquote>
    </div>
    <div class="col-md-4">
        <h2>Leia o enunciado</h2>
        <p>Clique aqui para visualizar os desafios dessa avaliação.</p>
        <p><a class="btn btn-default" href="~/Avaliação Phidelis.docx">Visualizar enunciado</a></p>
    </div>
</div>